<% if resource.errors.any? %>
  <div id="error_explanation" class="text-center text-warning">
    <h4 class="mb-3">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="my-2"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
