<div class="d-flex align-items-center justufy-content-end mt-5 pt-4 px-4 bg-dark text-light">
  <ul>
    <li>・お問い合わせ</li>
    <li class="my-3">・利用規約</li>
    <li>・プライバシーポリシー</li>
  </ul>
</div>
<p class="text-center bg-dark text-light m-0 pb-3">©2021 Gymseek All Rights Reserved.</p>
