<div class="d-flex align-items-center justufy-content-end mt-5 pt-4 px-4 bg-dark text-light">
  <ul>
    <li class="my-3"><%= link_to "・利用規約", page_path('terms'), class: "text-white" %></li>
    <li><%= link_to "・プライバシーポリシー", page_path('privacy_policy'), class: "text-white" %></li>
  </ul>
</div>
<p class="text-center bg-dark text-light m-0 py-5">©Gymseek</p>
