/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body{
  font-size: 20px;
}
ul{
  list-style: none;
  padding-left: 0;
}
.jumbotron {
    background-image: image-url("home_cover_top.jpg");
    background-size: cover;
    background-position: center 60%;
    opacity: 0.9;
    height: 700px;
  }
.img{
    max-width: 100%;
    height: auto;
}
.user-icon img{
  border-radius: 50%;
  object-fit: cover;

}
.header-icon img{
  width: 28px;
  height: 28px;
  vertical-align: top;
  margin-right: 5px;
}
.user-edit-icon img{
  width: 280px;
  height: 280px;
}
.gym-icon img{
  max-width: 100%;
  height: auto;
}
.gym-index-icon img{
  height: 280px;
  object-fit: cover;
}
.gym-show-icon img{
  height: 360px;
  object-fit: cover;
}
.position-absolute{
  z-index: 10;
  width: 100%;
}
#introduction_text_field{
  height: 200px;
}
#map{
  height: 400px;
}
